/*===================
=====header styles=======*/

.upper-nav{
  margin: 0;
  display: inline-block;
  justify-content: space-around;
  list-style-type: none;
  text-decoration-line: none;
}



.myschools h2{
  float: right;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.myschools1{
  height: 324px;
  min-height: 100%;
  float: right;
  width: 500px;
  margin-right: 10px;
}
.myschools1 img{
 background: linear-gradient(rgba(55, 4, 142, 0.94),rgba(40, 0, 60, 0.84));
  z-index: -1;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
/*********************achieve in style***************************/
.achieve-cont{
  display: flex;
  justify-content: space-around;
  background-color: #efe4ef;
}
.achieve-cont1, .achieve-cont2, .achieve-cont3{
background: #fff;
height: 360px;
width: 260px;
border-radius: 25px;
border: 3px solid white;
background: linear-gradient(rgba(30, 79, 56, 0.73),rgba(30, 44, 25, 0.43));
}
.achieve-cont p{
  font:1em/1.3  Arial, Helvetica, sans-serif;
  color: rgba(241, 241, 244, 0.98);
  background: linear-gradient(rgba(80, 3, 2, 0.46),rgba(89, 2, 11, 0.57))
  }
  .card-action a{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    color:azure;
  }
  /*987656789098765678study.............*/
  .study1,
  .study2{
    width: 46.5%;
    font:1rem/1.5  Arial, Helvetica, sans-serif ;
  }
  .study2{
    float: right
  }
  .study1{
    float: left;
  }









  /*hhhhhhhhhhhhhhhhhhhhhACHIEVEMENTSIIIIIIIIIIIIIIIIIIIIIII*/

.Html{
  background: rgba(128, 77, 202, 0.30);
  padding: 1px;
  border-right: 3.2px solid #7BFC00;
  height: 65px;
  width: 290px;
  margin-bottom: 2px;
}
.css{
  background: rgba(175, 222, 204, 0.83);
  padding: 1px;
  border-right: 3.2px solid #FC0004;
  height: 65px;
  width: 290px;
  margin-bottom: 2px;
}
.javascript{
  background: rgba(125, 211, 17, 0.22);
  padding: 1px;
  border-right: 3.2px solid rgba(0, 30, 252, 0.91);
  height: 65px;
  width: 290px;
  margin-bottom: 2px;
}
.ict{
  background: rgba(69, 12, 82, 0.17);
  padding: 1px;
  border-right: 3.2px solid #FC3900;
  height: 65px;
  width: 290px;
  margin-bottom: 2px;
}